.sixgod-container {
    --body-bg-color:rgb(11, 15, 25);  /* 页面背景颜色 */
    --border-color: #fff;
    --txt-front-color: #fff;
    --base-fontsize: 16px;          /* 基础字体大小 */
    --main-color:rgb(53, 183, 223);  /* 主色调 */
    // --main-color:#5DADE2;  /* 主色调 */
    
    --add-text-color:#fff;  /* 加权文本颜色 */
    --add-bg-color:rgb(44, 43, 43);  /* 加权背景颜色 */
    --add-border-color:#747171; /* 加权边框颜色 */
    
    --sub-text-color:#fff;  /* 减权文字颜色 */
    --sub-bg-color:rgb(44, 43, 43);  /* 减权背景颜色 */
    --sub-border-color:#747171;  /* 减权边框颜色 */
    
    
    --textarea-prompt-border-color:transparent;  /* 提示词输入框边框颜色 */
    --textarea-prompt-bg-color:#1f2937;  /* 提示词输入框背景颜色 */
    --textarea-prompt-focus-border-color:#374151;  /* 提示词输入框聚焦边框 */
    
    --editearea-prompt-text-color:#fff;  /* 编辑框文字颜色 */
    --editearea-prompt-bg-color:#645d5d;  /* 编辑框背景颜色 */
    --editearea-prompt-border-color:#fff;  /* 编辑框边框颜色 */
    
    
    
    --drag-prompt-bg-color:transparent;  /* 提示词禁用状态背景颜色 */
    --drag-prompt-disable-bg-color:rgb(175, 53, 37,0.56);  /* 提示词禁用状态背景颜色 */
    --drag-prompt-edit-shadow:0px 0px 2px 2px rgb(73, 105, 66);  /* 提示词编辑状态背景颜色 */
 
    
    
    --drag-prompt-border-color:#747171;  /* 拖拽按钮提示词边框 */
    --drag-prompt-draging-border-color:#686870;  /* 拖拽按钮拖动时边框 */
    --drag-prompt-cn-top-border-color:#413e3e;  /* 拖拽按钮中间竖线 */
 
    
    --navtag-text-color:#fff;  /* 导航激活文字 */
    --navtag-shadow:0px 0 0.3em 0.3em #ebd5d5;;  /* 导航阴影 */
    --navtag-active-bg-color:#fff;  /* 导航激活背景色 */
    --navtag-active-text-color:var(--main-color);  /* 导航激活文字 */
    --navtag-prompt-selected-color:var(--main-color);  /* tag有选中提示词的圆点背景色 */
    
    
    --menu-prompt-text-color:#fff;  /* 菜单框提示词文字颜色 */
    --menu-prompt-bg-color:var(--main-color);  /* 菜单框提示词背景颜色 */
    // --menu-prompt-bg-color:#1bad64;  /* 菜单框提示词背景颜色 */
 
    
    --btn-prompt-text-color:#fff;
    --btn-prompt-active-text-color:#000;  /* 正面激活文字颜色 */

    
    --btn-prompt-bg-color:#3a4454;  /* 提示词按钮默认背景颜色 */
    --btn-prompt-active-bg-color:var(--main-color);

    
    --btn-prompt-hover-bg-color:var(--main-color);
    --btn-prompt-hover-color:black;/* 提示词hover文字 */
 
    
    --dialog-head-bg-color:linear-gradient(to left, #9ec5f1, #2e3638);//对话框标题背景色
    
    --dialog-bg-color:#0b0f19;  /* 对话框背景颜色 */  
    --dialog-box-shadow:0 0 5px 2px #8c8fab;  /* 对话框阴影颜色 */
 
    --dialog-close-text-color:#fff;  /* 对话框关闭按钮背景颜色 */
    --dialog-close-hover-text-color:#9f1919;  /* 对话框关闭按钮边框颜色 */

    
    --scrollbar-track-bg-color:#5b666d;  /* 滚动条轨道背景颜色 */
    --scrollbar-thumb-bg-color:#f1f1f1;  /* 滚动条背景颜色 */

    --tags-text-color:#8a8181;  /* tags文字颜色 */
    --tags-bottom-bg-color:#5a5a54;  /* tags底部背景颜色 */
    --tags-active-color:var(--main-color);  /* tags底部背景颜色 */

    
}
    
    .prompt-container  button,.btn{
        padding: 0.5em;
        background: #425d83;
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        margin-right: 2px;
        margin: 0px 5px;
        box-shadow: 4px 0px 7px -1px #e2e8f3;
    }
    
    
    
    